<launch>

    <!-- Which nodes -->
    <arg name="do_slam" default="true"/>
    <arg name="do_octomap" default="false"/>

    <!-- Common control args -->
    <arg name="default_alt" default="2.0"/> <!-- Must be between min/max or path planning fails -->
    <arg name="map_resolution" default="1.0"/> <!-- m-->

    <!-- Autopilot selection (TBD setting up PX4) -->
    <arg name="ardupilot" default="true"/>
    <include file="$(find-pkg-share airsim_launch)/launch/airsim_ardupilot.xml"/>
        <!-- <arg name="config_file" value="$(find airsim_launch)/config/apm_default_config.yaml"/>
    </include> -->
    <!-- <include file="$(find-pkg-share airsim_launch)/launch/airsim_px4.launch" unless="$(var ardupilot)"/> -->
    <!-- <node pkg="rosservice" exec="rosservice" name="rosservice" args="call - -wait /mavros/set_stream_rate 0 50 1"/> -->

    <node pkg="tf2_ros" exec="static_transform_publisher" name="ned_to_enu_pub" args="0 0 0 1.57 0 3.14 world_ned world"/>
    <!-- <node pkg="tf" exec="static_transform_publisher" name="ned_to_enu_map_pub" args="0 0 0 1.57 0 3.14 map_ned map"/> -->

    <!-- Airsim launcher -->
    <arg name="vehicle_name" default="MyVehicle"/> <!-- The vehicle name from ardupilot_settings.json -->
    <arg name="enable_cameras" default="false"/> <!-- Enabling cameras slows the publish rate of everything to 3Hz so only enable if required -->
    <include file="$(find-pkg-share airsim_launch)/launch/airsim.xml">
        <arg name="do_slam" value="$(var do_slam)"/>
        <arg name="enable_cameras" value="$(var enable_cameras)"/>
        <arg name="vehicle_name" value="$(var vehicle_name)"/>
    </include>

    <!-- Feature nodes -->
    <!-- <arg name="imu_topic" default="/mavros/imu/data"/>
    <include file="$(find-pkg-share path_planning)/launch/slam.launch" if="$(var do_slam)">
        <arg name="lidar_type" value="2"/> <!- - 2 corresponds to velodyne which is what Airsim with rs_to_velodyne publishes - ->
        <arg name="imu_topic" value="$(var imu_topic)"/>
        <arg name="rviz" value="$(var simulate)"/>
    </include> -->

    <node exec="rviz2" name="airsim_rviz" pkg="rviz2" args="-d $(find-pkg-share airsim_launch)/config/airsim2.rviz" output="log"/>
</launch>