<launch>
     <!-- Safe guards -->
    <arg name="enable_autonomy" default="true"/>
    <arg name="enable_exploration" default="true"/>

    <!-- Frames -->
    <arg name="vehicle_name" default="/airsim_ros_node/base_link_frd"/>
    <arg name="vehicle_frame" default="base_link"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="map_frame" default="map"/>
    <arg name="world_frame" default="world"/>

    <!-- Pointcloud topics, shared -->
    <arg name="raw_lidar_topic" value="$(arg vehicle_name)/lidar/Lidar2"/>
    <arg name="registered_lidar_topic" value="/cloud_registered"/>

    <!-- Autopilot selection (TBD setting up PX4) -->
    <arg name="ardupilot" default="true"/>
    <include file="$(find airsim_launch)/launch/airsim_ardupilot.launch" if="$(arg ardupilot)"/>
    <include file="$(find airsim_launch)/launch/airsim_px4.launch" unless="$(arg ardupilot)"/>
    <node pkg="rosservice" type="rosservice" name="rosservice" args="call --wait /mavros/set_stream_rate 0 20 1"/>

    <!-- AirSim publish rates -->
    <arg name="image_pub_freq" default=".05"/>
    <arg name="lidar_pub_freq" default=".3"/>
    <arg name="control_pub_freq" default=".1"/>
    <arg name="update_imu_n_sec" default=".1"/>

    <!-- Common control args -->
    <arg name="min_alt" default="0.2"/>
    <arg name="max_alt" default="10.0"/>
    <arg name="default_alt" default="2.0"/> <!-- Must be between min/max or path planning fails -->
    <arg name="default_speed" default="2.0"/> <!-- m/s-->
    <arg name="goal_topic" default="/mavros/setpoint_position/local"/> <!-- for mavros without OA, use /mavros/setpoint_position/local. default is /goal.-->
    <arg name="imu_topic" default="$(arg vehicle_name)/imu/Imu"/>
    <arg name="map_resolution" default="1.0"/> <!-- m-->

    <!-- <param name="/use_sim_time" value="true"/> -->

    <node pkg="tf" type="static_transform_publisher" name="ned_to_enu_pub" args="0 0 0 1.57 0 3.14 world_ned world 100"/>
    <!-- <node pkg="tf" type="static_transform_publisher" name="ned_to_enu_map_pub" args="0 0 0 1.57 0 3.14 map_ned map 100"/> -->

    <node pkg="airsim_launch" type="airsim_node" respawn="false" name="airsim_ros_node" output="screen">
        <param name="update_airsim_img_response_every_n_sec" value="$(arg image_pub_freq)" />
        <param name="update_lidar_every_n_sec" value="$(arg lidar_pub_freq)" />
        <param name="update_airsim_control_every_n_sec" value="$(arg control_pub_freq)" />
        <param name="vehicle_frame_id" value="$(arg vehicle_frame)" />
        <param name="odom_frame_id" value="$(arg odom_frame)" />
        <param name="map_frame_id" value="$(arg map_frame)" />
        <param name="world_frame_id" value="$(arg world_frame)" />
    </node>

    <arg name="depth_image" default="$(arg vehicle_name)/front_left_custom/DepthPlanar"/>
    <arg name="depth_info" default="$(arg vehicle_name)/front_left_custom/DepthPlanar/camera_info"/>
    <node pkg="depth_image_to_mavlink" type="depth_image_to_mavlink_node" respawn="false" name="depth_image_to_mavlink" output="screen">
        <param name="depth_image" value="$(arg depth_image)"/>
        <param name="depth_info" value="$(arg depth_info)"/>
    </node>

    <include file="$(find airsim_launch)/launch/airsim_oa.launch">
        <arg name="min_alt" value="$(arg min_alt)"/>
        <arg name="max_alt" value="$(arg max_alt)"/>
        <arg name="imu_topic" value="$(arg imu_topic)"/>
        <arg name="raw_cloud_topic" value="$(arg raw_lidar_topic)"/>
        <arg name="reg_cloud_topic" value="$(arg registered_lidar_topic)"/>
    </include>

    <node pkg="path_to_mavros" type="path_to_mavros_node" respawn="false" name="path_to_mavros" output="screen">
        <param name="default_speed" value="$(arg default_speed)"/>
    </node>

    <include file="$(find octomap_slice)/launch/octomap_full_handling.launch">
        <arg name="cloud_topic" value="$(arg registered_lidar_topic)"/>
        <arg name="octomap_res" value="$(arg map_resolution)"/>
        <arg name="slice_height" value="$(arg default_alt)"/>
        <arg name="rviz" value="false"/>
    </include>

    <include file="$(find explore_uav)/launch/explore.launch">
        <arg name="robot_base_frame" value="$(arg vehicle_frame)"/>
        <arg name="default_alt" value="$(arg default_alt)"/>
        <arg name="goal_topic" value="$(arg goal_topic)"/>
        <arg name="map_resolution" value="$(arg map_resolution)"/>
    </include>

    <include file="$(find monarch)/launch/monarch.launch">
        <arg name="enable_autonomy" value="$(arg enable_autonomy)"/>
        <arg name="enable_exploration" value="$(arg enable_exploration)"/>
        <arg name="default_altitude_m" value="$(arg default_alt)"/>
    </include>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <node type="rviz" name="airsim_rviz" pkg="rviz" args="-d $(find airsim_launch)/config/airsim_octo.rviz" output="log"/>
</launch>